.text-left {
  text-align: left;
}

.seperate {
  display: flex;
  justify-content: space-around;
}

.seperate > div {
  margin-right: 20px; 
}

.seperate > div:last-child {
  margin-right: 0;
}

.highlight-red {
  color: red;
}